@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
  
}
.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title{
  display: flex;
  justify-content: center;
}
.input {
  margin: 6px;
}

.button { 
  margin: 6px auto;
}