@import '../../../styles/settings.scss';

.component {
  padding: $base-size;
}


.h2 {
  margin: 20px;
  padding: 10px;
}

.h3, .h4 {
  text-align: center;
  margin: 15px;
}

.table {
  padding-bottom: 25px;
}